---
import MainLayout from "../layouts/MainLayout.astro";
import imgBg from '/images/main-bg.webp'

---

<MainLayout pageTitle="Accueil">
  <section class="accueil">

  </section>
</MainLayout>
<style>
  .accueil {
    width: 100%;
    height: 100vh;
    background-image: url('/images/main-bg.webp');
    background-size: cover;
    background-position: center;
  }
</style>
