@import url("https://fonts.googleapis.com/css2?family=Andika:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
  /* font-size */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-2: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-3: clamp(4.84rem, calc(3.93rem + 4.54vw), 7.45rem);
  /* colors */
  --primary: #3b3776;
  --secondary: #93a8cb;
  --white: #f6f9ea;
  --yellow: #e0cb55;
  --red: #e74c3c;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--yellow);
  color: var(--primary);
}

::selection {
  background-color: var(--yellow);
  color: var(--primary);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--primary) var(--secondary);
  scrollbar-width: thin;
}
body {
  background-color: var(--primary);
  color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: var(--step-0);
}

.text {
  font-size: var(--step-0);
}

.dark {
  background-color: var(--primary);
  background: url("/images/pattern.svg");
  background-position: center;
}
.light {
  background-color: var(--secondary);
  background-image: url('/images/noise-pattern.svg');
}

.card {
  font-size: var(--step--1);
}

h1 {
  font-size: var(--step-3);
  font-family: "jp", sans-serif;
  letter-spacing: 5px;
  line-height: 0.8;
}

h2 {
  font-size: var(--step-2);
  font-family: "Andika", sans-serif;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--white);
}
h3 {
  font-family: "Andika", sans-serif;
  font-size: var(--step-0);
}

p {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "jp";
  src: url("/fonts/jp.woff") format("woff");
  font-weight: bold;
}