---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>
    <span>Copyright &copy; {year} - All rights reserved</span>
  </p>
</footer>

<style>
  .footer {
    text-align: center;
    padding: 0.5em 0;
    font-size: var(--step--2);
    font-weight: bold;
  }
</style>
