---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>&copy; {year}</p>
</footer>

<style>
  .footer {
    display: block;
    margin-inline: auto;
    height: fit-content;
    width: fit-content;
  }
</style>
