---
const { title, date, image } = Astro.props;

const imageBg = `url('${image}')`

console.log(imageBg);
---

<header class="header">
  <div class="header__infos">
    <h1>{title}</h1>
    <h2>({date})</h2>
  </div>
</header>

<style define:vars={{imageBg}}>
  .header {
    position: relative;
    background-image: var(--imageBg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    height: 100vh;
  }
  .header__infos {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: #f1f1f1
  }
</style>
