---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../style/global.css";
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <main>
      <!-- <h1>Jurassic Park</h1> -->
      <slot>Default content.</slot>
    </main>
    <Footer />
  </body>
</html>
